<div class="mt1"><strong>Please Select Columns to Encode:</strong></div>
<!--p>{{dataSource.getDataHeader(variable.outputTable.data.length ? variable.outputTable.data[0] : variable.listOfDraggedFiles.data[0].data[0])}}</p-->
<table>
    <tr *ngFor="let info of dataSource.getDataHeader(variable.outputTable.data.length ? variable.outputTable.data[0] : variable.listOfDraggedFiles.data[0].data[0])">
        <td><input class="w100" type="checkbox" [value]="info" (change)="onCheckboxChange($event)" [title]="info"/></td>
        <td>{{info}}</td>
    </tr>
</table>
<button (click)="dataSource.saveAction(selectedCheckboxes)" class="mt1">Save</button>
