<div class="w100">
  <!--button class="mr1 mb1" [class.active]="viewData" (click)="viewData = true">Show Data</button>
  <button class="mb1" [class.active]="!viewData" (click)="viewData = false">Analysis Result</button-->
  <div class="floatRight">
    <button class="mb1" (click)="dataSource.exportTable()">Download File</button>
  </div>
</div>
<!--ng-container *ngIf="viewData">
  <!--====<pre>{{variable.listOfDraggedFiles | json}}</pre>====-- >
  <!-- ====<pre>{{variable.outputTable | json}}</pre>==== -- >
  <div class="w100" style="overflow: auto;">
    <table class="w100" id="outputTable">
      <tr>
        <th *ngFor="let header of variable.outputTable.header">
          {{header}}
        </th>
      </tr>
      <tr *ngFor="let data of variable.outputTable.data">
        <td *ngFor="let header of variable.outputTable.header">{{data[header]}}</td>
      </tr>
    </table>
  </div>
</ng-container>
<ng-container *ngIf="!viewData"-->
<ng-container *ngIf="variable.Correlation_matrix_encodedString">
  <div class="w100 encodedImages">
    <img  [src]="getImgUrl(variable.Medium_Correaltion_graph_encodedString)">
    <img  [src]="getImgUrl(variable.Low_Correaltion_graph_encodedString)">
    <img  [src]="getImgUrl(variable.High_Correaltion_graph_encodedString)">
    <img  [src]="getImgUrl(variable.Correlation_matrix_encodedString)">

  </div>
</ng-container>
<ng-container *ngIf="variable.accuracy">
  <div class="w100">
    Prediction Accuracy of Salary based on Decision Tree Model : {{variable.accuracy}}
  </div>
</ng-container>
<!--/ng-container-->

