<span class="cursorPointer" *ngIf="(variable.popupSubTitle === 'spreadsheet' || variable.popupSubTitle === 'database' || variable.popupSubTitle === 'text')" (click)="dataSource.backToList()"><- Back</span><br/>
<span class="cursorPointer" *ngIf="variable.popupSubTitle === 'merge'" (click)="dataSource.backToAction()"><- Back</span>
<span class="cursorPointer" *ngIf="variable.popupSubTitle === 'detail'" (click)="dataSource.backToDetail()"><- Back</span>
<br/>
<ng-container *ngIf="variable.selectedData.information">
  <textarea class="w100 mb2" disabled>{{variable.selectedData.information}}</textarea>
</ng-container>
<ng-container *ngIf="!variable.selectedData.information">
  <strong>Add Information</strong>
  <textarea class="w100 mb2" [(ngModel)]="information"></textarea>
  <button class="btn-clear reset-button" (click)="crud.updateInformation(information)">Submit</button>
</ng-container>
